body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.chat-container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.chat-box {
    height: 250px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    overflow-y: auto;
}

.message {
    background: #e6e6e6;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

input {
    width: 75%;
    padding: 8px;
}

button {
    padding: 8px;
}